.book-teacher {
    margin-top: 12px;
    padding-top: 12px;
}

.book-class {
    display: flex;
    gap: 6px;
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;

}

.btn-info {
    color: #000;
    background-color: #f08126;
    border-color: #f08126;
}

.btn {
    transition: none;
}

.option-box {
    background-color: #D9D9D9;
}