.teachers-pic {
    width: 100%;
    padding: 20px;
}

.teachers {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.teacher {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 300px;
    text-align: center;
}

.teachers-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.btn-info {
    color: #000;
    background-color: #f08126;
    border-color: #f08126;
}

.btn-show {
    color: #000;
    border-color: #f08126;
}

.btn {
    transition: none;
}

.show-more {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px 0 40px;
}

.list-filter {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    padding-top: 16px;
    margin-top: 12px;
}

.filter-options {
    display: flex;
    gap: 16px;
}

.option-box {
    background-color: #D9D9D9;
}

.star-rating {
    vertical-align: text-top;
}