
<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container-fluid w-100">
    <a class="w-50" [routerLink]="['/home']"> <img class="img-logo" src="https://res.cloudinary.com/dqi1rszmn/image/upload/v1684780186/logo-petit_v3cgru.png" alt="logotipo empresa teacherapp"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-mobile" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
          <a class="nav-link link-nav" aria-current="page" [routerLink]="['/teachers']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-nav" [routerLink]="['#']">Inbox</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link link-nav width-nav" [routerLink]="['/studentslist']">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-nav" [routerLink]="['/signup']">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-nav" [routerLink]="['/myprofile']">My profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-nav" [routerLink]="['/signup']">Log out</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>  

