<app-student-header></app-student-header>

<div class="container-fluid mt-5 pt-3 mb-5 pb-3">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card w-50 border-0 m-auto">
                <div class="card-horizontal align-items-center">
                    <div class="img-square-wrapper">
                        <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                    </div>
                    <div class="vr"></div>
                    <div class="card-body">
                        <p>Name:</p>
                        <p>Surname:</p>
                        <p>Phone:</p>
                        <p>Email:</p>
                        <p>Address:</p>
                        <p>Province:</p>
                        <p>City:</p>
                        <img src="" alt="">
                        <div class="d-flex justify-content-end">       
                            <button class="btn btn-info">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
