/*--------------------------------------------------------------
# General styles
--------------------------------------------------------------*/
html, body {
    height: 100%;
}

.container {
    max-width: 75%;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/



footer {
    background-color: #f08126;
    height: 250px;
    color: white;
}

footer ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

footer .row {
    margin-left: 0;
    margin-right: 0;
}

footer a,
footer a:focus {
    color: #fafafa;
    text-decoration: none;
}

footer a:hover {
    color: #fafafa;
}

footer hr, p {
    margin: 0;
    padding: 0;
}