
<div class="wrapper">

    <footer class="d-flex justify-content-center pb-5">
        <div class="d-flex align-items-center w-100 h-100">
            <div class="container pt-5">
                <div class="row">
                    <div class="col pt-4">
                        <a class ="w-25" href="">
                            <img src="https://res.cloudinary.com/dqi1rszmn/image/upload/v1684782139/teacher-app-logo-white_dwah2r.png" alt="logotipo-teacher-app-blanco">
                        </a>
                    </div>
                    <div class="col pt-5">
                        <ul>
                            <li><a href="#">Legal Notice</a></li>
                        </ul>
                    </div>
                    <div class="col pt-5">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>  
                        </ul>
                    </div>
                    <div class="col float-left pt-5">
                        Copyright teacherApp 2023
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        
                        <div class="float-right">
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>