<app-student-header></app-student-header>

<div class="container encuesta">
    <div>
        <img src="" alt="">
    </div>
    <div class="questions">
        <div class="container-rating">
            <p>How was your experience with?</p>
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="far fa-star"></label>
        </div>
        <div class="container-rating">
            <p>Is the content of the classes available?</p>
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="far fa-star"></label>

        </div>
        <div class="container-rating">
            <p>Was it suitable?</p>
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="far fa-star"></label>
        </div>
        <div class="container-rating">
            <p>Did he help you to pass the exams?</p>
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="far fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="far fa-star"></label>
        </div>
        <div>
            <p>Give a comment:</p>
            <textarea name="" id="" cols="30" rows="7"></textarea>
        </div>
    </div>
</div>
