<app-student-header></app-student-header>
<div class="container encuesta">
    <div>
        <img src="" alt="">
    </div>
    <div class="questions">
        <div>
            <p>How was your experience with?</p>
            <input type="radio" name="" id="">
        </div>
        <div>
            <p>Is the content of the classes available?</p>
            <input type="radio" name="" id="">
        </div>
        <div>
            <p>Was it suitable?</p>
            <input type="radio" name="" id="">
        </div>
        <div>
            <p>Did he help you to pass the exams?</p>
            <input type="radio" name="" id="">
        </div>
        <div>
            <p>Give a comment:</p>
            <textarea name="" id="" cols="30" rows="7"></textarea>
        </div>
    </div>
</div>
