
.titulo-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 75%;
    color: #f08126;
    border-color: #f08126;
    align-items: center;
}


.titulo-btn:hover {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 75%;
    color: #ffffff;
    background-color:#f08126 ;
    border-color: #f08126;
    align-items: center;
}