<app-main-header></app-main-header>

<body>
    <section>
    <div class="d-flex justify-content-end">
        <img class="img-fluid img-bg w-75" src="https://res.cloudinary.com/dqi1rszmn/image/upload/v1684782736/BG_jkjppz.png" alt="color de fondo de la home">
    </div>
    <div>
        <h1 class="titulo col-lg-3 col-md-12 ">
            Learn anywhere, anytime with our online method.
        </h1>
        <button [routerLink]="['/login']" class="position-btn titulo-btn btn btn-outline-primary rounded-5 col-lg-3 col-md-12">Explore the classes</button>
    </div>
    <div>
        <img class=" img-alumna d-none d-lg-block" src="https://res.cloudinary.com/dqi1rszmn/image/upload/v1684786057/foto-landing-home_tqkn8p.png" alt="imagen alumna banner">
    </div>
    </section>
    
<!--TEACHERS-->
<app-teacher-filter></app-teacher-filter>

    <div class="d-flex flex-column align-items-center mt-5 mb-5"><button [routerLink]="['/login']" class="titulo-btn btn btn-outline-primary rounded-5">Explore more teachers</button></div>

    <!--MAPA-->
    <section>
        <h2 class="mt-5 mb-5">Find our teachers</h2>
    </section>
 
    
</body>
