.img-bg {
    position: relative;
    float: left;
    top: -30px;
    right: -33px;
    width:100%;
}
 @media(max-width: 1024px) {
    .img-bg {
        display: none;
    }
 }

.title-container {
    position:absolute;
    width: 400px;
    top: 150px; 
    left: 100px;
    text-align: center;
}

@media(max-width:1024px){
    .title-container{
        position:relative;
        top:0;
        left:0;
        width:90%;
        margin:0 auto;
    }
}

.titulo {
position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}


.position-btn {
    position: relative;
}

.titulo-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 25%;
    color: #f08126;
    border-color: #f08126;
}


.titulo-btn:hover {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 25%;
    color: #ffffff;
    background-color:#f08126 ;
    border-color: #f08126;
}

.img-alumna {
    position: absolute;
    width:150%;
    top: 150px; 
    right: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    width: 25%;
    border-radius: 50%;
}

@media(max-width: 1024px) {
    .img-alumna {
        display: none;
    }    
}    




.text-card{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 ;
}


h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

body {
    color: #000000;
    font-family: Sans-Serif;
    padding: 30px;
    background-color: #ffffff;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    color: #222222
  }
  
  