
<app-main-header></app-main-header>

<body>
    <section>
    <div class="d-flex justify-content-end">
        <img class="img-fluid img-bg w-75" src="https://res.cloudinary.com/dqi1rszmn/image/upload/v1684782736/BG_jkjppz.png" alt="color de fondo de la home">
    </div>
    <div>
        <h1 class="titulo">
            Learn anywhere, anytime with our online method.
        </h1>
        <button class="position-btn titulo-btn btn btn-outline-primary rounded-5">Explore the classes</button>
    </div>
    <div>
        <img class=" img-alumna" src="https://res.cloudinary.com/dqi1rszmn/image/upload/v1684786057/foto-landing-home_tqkn8p.png" alt="imagen alumna banner">
    </div>
    </section>

    <section class="d-flex justify-content-center gap-5 mt-5 mb-5">
        <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img class="rounded-3" src="https://res.cloudinary.com/dqi1rszmn/image/upload/v1684788739/teachers-home-02_kv7huv.png" class="card-img-top" alt="imagen profesora de matemàticas">
            <div class="card-body">
                <p class="text-card">Lucas González</p>
            </div>
          </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="rounded-3" src="https://res.cloudinary.com/dqi1rszmn/image/upload/v1684788739/teachers-home_Mesa_de_trabajo_1_l5wgpr.png" class="card-img-top" alt="imagen profesor de fisica">
                <div class="card-body">
                  <p class="text-card">María Pérez</p>
                </div>
              </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="rounded-3" src="https://res.cloudinary.com/dqi1rszmn/image/upload/v1684788739/teachers-home-03_nlmwco.png" class="card-img-top" alt="imagen profesor latin">
                    <div class="card-body">
                      <p class="text-card">David García</p>
                    </div>
                </div>
            </div>
    </section>
    <div class="d-flex flex-column align-items-center mb-5"><button class="titulo-btn btn btn-outline-primary rounded-5">Explore the classes</button></div>

    <section>
        <h2 class="mt-5 mb-5">Find our teachers</h2>
    </section>
</body>
<app-footer></app-footer>