<app-main-header></app-main-header>

<section>
    <h1 class="h1 mt-5 text-center">THE CLASSES</h1>
</section>

<section class="d-flex justify-content-between gap-5 mt-5 ml-5 mb-5">
    <div class="col-3">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="text-card">Maths</p>
            <button class="titulo-btn btn btn-outline-primary rounded-5">Book now</button>
        </div>
      </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="text-card">Latin</p>
              <button class="titulo-btn btn btn-outline-primary rounded-5">Book now</button>
            </div>
          </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <p class="text-card">Arts</p>
                  <button class="titulo-btn btn btn-outline-primary rounded-5">Book now</button>
                </div>
            </div>
        </div>
</section>