<app-admin-header></app-admin-header>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr class="fila" *ngFor="let student of students">
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phone }}</td>
        <td>{{ student.address }}</td>
      </tr>
    </tbody>
  </table>
  