<app-admin-header></app-admin-header>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Location</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.nombre }}</td>
        <td>{{ student.apellidos }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.numero }}</td>
        <td>{{ student.ubicacion }}</td>
        <td>{{ student.edad }}</td>
      </tr>
    </tbody>
  </table>
  