<app-teacher-header></app-teacher-header>
<div class="container text-center title mt-5 mb-5 col-12 "><h1>teacher.name DASHBOARD</h1></div>

<div class="container center mb-5">
<div class="row g-3">
  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Student's List</h2>
        <!-- Aquí puedes mostrar una vista previa del listado de alumnos -->
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Last reviews</h2>
        <!-- Aquí puedes mostrar una vista previa de las últimas valoraciones -->
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Average rating</h2>
        <!-- Aquí puedes mostrar una vista previa de la puntuación media -->
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Upcoming classes</h2>
        <!-- Aquí puedes mostrar una vista previa de las próximas clases -->
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Register a class</h2>
        <!-- Aquí puedes mostrar una vista previa del formulario de registro de clase -->
    </div>
    </div>
    </div>
</div>
