<app-admin-header></app-admin-header>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>EPhone number</th>
        <th>Location</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers">
        <td>{{ teacher.nombre }}</td>
        <td>{{ teacher.apellidos }}</td>
        <td>{{ teacher.email }}</td>
        <td>{{ teacher.numero }}</td>
        <td>{{ teacher.ubicacion }}</td>
        <td>{{ teacher.edad }}</td>
      </tr>
    </tbody>
  </table>