<app-admin-header></app-admin-header>



  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr class="fila" *ngFor="let teacher of teachers">
        <td>{{ teacher.first_name }}</td>
        <td>{{ teacher.last_name }}</td>
        <td>{{ teacher.email }}</td>
        <td>{{ teacher.phone }}</td>
        <td>{{ teacher.address }}</td>
      </tr>
    </tbody>
  </table>

