<app-main-header></app-main-header>

<h1 class="text-center title mt-5 mb-3">Log in</h1>

<div class="d-flex justify-content-center align-items-center container-principal">
    <form class="w-25" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" (submit)="onSubmit" class="btn btn-primary container-submit">Submit</button>

        <div class="mensaje_registro">
            <p class="little-text">No account? <span class="link little-text" [routerLink]="['/register']">create
                    one</span></p>
        </div>

    </form>
</div>