
h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.container-principal{
    margin: 4rem;
}
.container-submit{
    width: 100%;
    background-color: rgb(255, 102, 0);
    border: none;
}
.container-submit:hover{
    background-color: orangered;
}

.mensaje_registro{
    margin-top: 0.5rem;
    
}
.little-text{
    font-size: 0.8rem;
}
.link{
    color: blue ;
}

.link:hover{
    cursor: pointer;
    text-decoration: underline;
}