<app-student-header></app-student-header>

<div class="container footer-position">
    <h3 class="reviews-title">My reviews</h3>
    <div class="no-review" *ngIf="myReviews.length === 0">
      <p>You don't have any reviews yet...</p>
      <button class="btn btn-info" routerLink="/student/teachers">Back to My Teachers</button>
    </div>
    <div class="card mb-3" style="max-width: 540px;" *ngFor="let review of myReviews">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{review.teacherData?.avatar}}" class="img-fluid rounded-start" alt="image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{review.teacherData?.first_name}} {{review.teacherData?.last_name}}</h5>
              <p class="card-text">"{{review.comment}}"</p>
              <p class="card-text">{{review.rating | number: '1.1-1'}}</p>
            <div class="d-flex flex-row card-text">
              <p *ngFor="let item of [].constructor(5); let i = index"><img [ngClass] = "{greyscale:round(review.rating)<i+1}" src="/assets/reviews/star.svg" alt="star"></p>
            </div>
            <div class="upd-button">
              <button class="btn btn-info" routerLink="/student/teachers-reviews/{{review.teacherData?.teacher_id}}">Update</button>
            </div>
            </div>
          </div>
        </div>
      </div>    
</div>
