<app-teacher-header></app-teacher-header>

<div class="container-fluid mt-5 pt-3 mb-5 pb-3">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card w-50 border-0 m-auto" *ngIf="teacherData">
              <div class="card-horizontal align-items-center">
                  <div class="img-square-wrapper">
                      <img class="student-avatar" [src]="teacherData.avatar" alt="Card image cap">
                  </div>
                  <div class="vr"></div>
                  <div class="card-body">
                      <p>Name: {{teacherData.first_name}}</p>
                      <p>Surname: {{teacherData.last_name}}</p>
                      <p>Phone: {{teacherData.phone}}</p>
                      <p>Email: {{teacherData.email}}</p>
                      <p>Address: {{teacherData.address}}</p>
                      <p>Province: {{teacherData.province}}</p>
                      <p>City: {{teacherData.city}}</p>
                      <img src="" alt="">
                      <div class="d-flex justify-content-end">       
                          <button class="btn btn-info" routerLink="/teachers/profile/edit">Edit</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
