.teachers {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.teacher {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 300px;
    text-align: center;
}


.teachers-pic {
    width: 200px;
}

.teachers-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.btn-info {
    color: #000;
    background-color: #f08126;
    border-color: #f08126;
}

.btn {
    transition: none;
}

.review-button {
    padding-bottom: 15px;
}

img {
    margin: 18px;
    width: 100%;
}

.teachers-data p{
    margin: 10px 20px;
    text-align: left;
} 

