<app-student-header></app-student-header>

<div class="container teachers mt-5 pt-4 mb-5 pb-4">
    <div class="teacher" *ngFor="let teacher of myTeachers">
        <div>
            <img src="{{teacher.avatar}}" alt="" class="teachers-pic">
        </div>
        <div class="teachers-data">
            <h4>{{teacher.first_name}} {{teacher.last_name}}</h4>
            <p>{{teacher.avg_rating}}</p>
        </div>
        <div class="teachers-buttons">
            <button class="btn btn-info" routerLink="/student/teachers-details">Book</button>
            <button class="btn btn-info" routerLink="/student/teachers-reviews/{{teacher.teacher_id}}">Reviews</button>
        </div>
    </div>
</div>