<app-student-header></app-student-header>
<div class="container footer-position">
    <table class="table mt-5 pt-5 table-hover table-bordered">
        <caption>List of classes</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Teacher's name</th>
            <th scope="col">Teacher's surname</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">Start hour</th>
            <th scope="col">End hour</th>
            <th scope="col">Join</th>
            <th scope="col">Cancel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let class of classes;let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{class.teacher_name}}</td>
            <td>{{class.teacher_surname}}</td>
            <td>{{class.category}}</td>
            <td>{{class.start_date.substring(0,10)}}</td>
            <td>{{class.start_hour | timeFormat}}</td>
            <td>{{class.end_hour | timeFormat}}</td>
            <td> <a href="https://meet.google.com/wdd-buxm-kmg" target="_blank" rel="noopener noreferrer"><button class="btn btn-info">Join</button></a></td>
            <td><button class="btn btn-danger" (click)="cancelar(class.id)">X</button></td>
          </tr>
        </tbody>
      </table>    
</div>
