<app-student-header></app-student-header>
<div class="container">
    <table class="table mt-4 pt-4">
        <caption>List of classes</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Teacher's name</th>
            <th scope="col">Teacher's surname</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">Start hour</th>
            <th scope="col">End hour</th>
            <th scope="col">Join</th>
            <th scope="col">Cancel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let class of classes;let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{class.teacher_name}}</td>
            <td>{{class.teacher_surname}}</td>
            <td>{{class.category}}</td>
            <td>{{class.start_date}}</td>
            <td>{{class.start_hour | date: 'HH:mm'}}</td>
            <td>{{class.end_hour}}</td>
            <td><button class="btn btn-info">Join</button></td>
            <td><button class="btn btn-danger" (click)="cancelar()">X</button></td>
          </tr>
        </tbody>
      </table>    
</div>
