<app-student-header></app-student-header>
<div class="container">
    <table class="table mt-4 pt-4">
        <caption>List of classes</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Teacher's name</th>
            <th scope="col">Teacher's surname</th>
            <th scope="col">Category</th>
            <th scope="col">Module</th>
            <th scope="col">Start</th>
            <th scope="col">Finish</th>
            <th scope="col">Status</th>
            <th scope="col">Join</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>    
</div>
