.link-nav{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #f08126;
}

.link-nav:hover{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: black;
    border-color: #f08126;
    border: 1px;
}

.img-login{
    width: 10px;
}

.img-logo {
    width: 150px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    color: #f08126;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #f08126;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
    margin-left: auto;
}

.link-selected {
    color: black;
  }